kafka_2.13-3.9.0/*
kafka_2.13-3.9.0.*
cours/*
jsonKafka/*
tps/*
training/*
.metals/*
/target/*
.metadata/*
.idea/*
*.iml
*.log
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.exe
*.dll
*.so
*.dylib
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.bak
*.tmp
*.DS_Store
*.vscode/*
*.env
*.env.*
*.secret
*.key
*.pem
*.crt
*.cert
org.*
kshop26/target/*
kshop26/.idea/*
kshop26/.vscode/*
kshop26/*.iml
kshop26/*.log
kshop26/*.class
kshop26/*.jar
kshop26/*.war
kshop26/*.ear
kshop26/*.zip   